[project]
	description = An Ansible role to create a virtual machine in libvirt
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Siavash (siavashoutadi)
[access "refs/for/refs/*"]
	read = group user/Siavash (siavashoutadi)
	push = group user/Siavash (siavashoutadi)
	label-Code-Review = -2..+2 group user/Siavash (siavashoutadi)
	label-Verified = -1..+1 group user/Siavash (siavashoutadi)
	rebase = group user/Siavash (siavashoutadi)
	removeReviewer = group user/Siavash (siavashoutadi)
	submit = group user/Siavash (siavashoutadi)
[access "refs/heads/*"]
	read = group user/Siavash (siavashoutadi)
	create = group user/Siavash (siavashoutadi)
	push = +force group user/Siavash (siavashoutadi)
	pushMerge = group user/Siavash (siavashoutadi)
[access "refs/tags/*"]
	push = group user/Siavash (siavashoutadi)
	push = +force group user/Siavash (siavashoutadi)
[receive]
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
